{% extends 'base.html' %}

{% block css %}
<link href="{{ url_for('search_page_bp.static', filename='css/search_page.css') }}" rel="stylesheet">
{% endblock %}


{% block search_results %}
<div>
    <p><a href="{{ url_for('home_bp.search_form') }}">Go back to home page</a></p>
    {% if magazine_filter %}
    <h1>{{ details_for_searched_term.total }} results found for "{{ searched_term }}" in "{{ magazine_filter }}": </h1>
    {% else %}
    <h1>{{ details_for_searched_term.total }} results found for "{{ searched_term }}" : </h1>
    {% endif %}

    <div>
        <form action="{{url_for('search_page_bp.search_for_term')}}">
            <label for="magazine_filter">Filter Results by Magazine Name</label>
            <select name="magazine_filter" id="magazine_filter">
                {% for magazine_name, count in distinct_magazines_and_count %}
                <option value="{{magazine_name}}">{{magazine_name}}, results: {{count}}</option>
                {% endfor %}0]
            </select>
            <input type="submit" value="Submit">
            <input type="hidden" id="search_box" name="search_box" value="{{session['s_word']}}">
        </form>
    </div>

    <ul>
        {% for res in details_for_searched_term%}
        <form action="{{url_for('search_page_bp.display_magazine_content')}}" target="_blank">
            <div class="results">
                <button>
                    <h1>{{res[0]}}</h1>
                    <h1>{{res[1]}}</h1>
                    <h1>{{res[2]}}</h1>
                    <h1>Page {{res[3]}}</h1>
                    <h1>Link: <a href="{{res[4]}}" target="_blank">{{res[4]}}</a></h1>
                    <input type="hidden" id="page_id" name="page_id" value={{res[5]}}>
                </button type="submit">
            </div>
        </form>
        {% endfor %}

    </ul>
</div>

{% for page_num in details_for_searched_term.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
{% if page_num %}
<a
    href="{{ url_for('search_page_bp.search_for_term', magazine_filter=magazine_filter, search_box=searched_term, page=page_num)}}">{{
    page_num}}</a>
{% else %}
...
{% endif %}
{% endfor %}

{% endblock %}