{% extends 'base.html' %}

{% block search_results %}
<div>
    <p><a href="{{ url_for('home_bp.search_form') }}">Go back to home page</a></p>
    <h1>{{ results_count.total }} results found for "{{ searched_term }}" : </h1>
    <ul>
        {% for res in result_list%}
        <div class="results">
            <h1>{{res[0]}}</h1>
            <h1>{{res[1]}}</h1>
            <h1>{{res[2]}}</h1>
            <h1>{{res[3]}}</h1>
            <h1>Link: <a href="{{res[4]}}" target="_blank">{{res[4]}}</a></h1>
            {% endfor %}
        </div>

    </ul>
</div>

{% endblock %}