{% extends "base.html" %}

{% block title %} Unprocessable Entity (422) {% endblock %}

{% block content%}
<div class="container-fluid text-center py-1">
    <p1 class="display-6">Unprocessable Entity (422)</p1>
    <div>
        <h5 class="h5">It looks like the searched expression contains a character that cannot be processed (like a
            single double quote: ").</h5>
        <h5 class="h5">Please repeat the search without using it.</h5>
        <h5 class="h5">Back to <a href="{{ url_for('home_bp.search_form') }}">search page</a>.</h5>
    </div>
</div>
{% endblock%}