{% extends 'base.html' %}

{% block search_form %}
<div class="form-wrapper">
    <h2 class="title">Please introduce a search term in the box</h1>
        <form action="{{ url_for('search_page_bp.search_for_term') }}">
            <fieldset class="form-field">
                {{ search_form.search_box.label }}
                {{ search_form.search_box(size=50) }}
            </fieldset>

            {{ search_form.submit }}

        </form>
</div>
{% endblock %}

{% block existent_magazines %}
<h1> The submited term will be searched in the following magazines: </h1>
<ul>
    {% for res in existent_magazines %}
    <p1>{{ res }} </p1> <br>
    {% endfor %}
</ul>


{% endblock %}