{% extends 'base.html' %}

{% block title %} {{ magazine_name }}-BCU-Search {% endblock %}

{% block content %}
<div class="container text-center py-1">
    <h1 class="display-6"> For <span class="fw-bold"> {{ magazine_name }} </span> there are:</h1>
    <div class="py-2">
        {% for res in magazine_details %}

        {% if res[1] == 1 %}
        <p2 class="lead"> <span class="fw-bold"> {{ res[1] }} </span> number for <span class="fw-bold"> {{ res[0] }}
            </span> year (<span class="fw-bold">{{ res[2] }}
            </span> total pages)</p2><br>
        {% else %}
        <p2 class="lead"><span class="fw-bold"> {{ res[1] }} </span> numbers for <span class="fw-bold"> {{ res[0] }}
            </span> year (<span class="fw-bold">{{ res[2] }}
            </span> total pages)</p2><br>
        {% endif %}

        {% endfor %}
    </div>
</div>
{% endblock %}