<!DOCTYPE html>
<html>

<head>
    <title>BCU-Search</title>
</head>

<style>
    .results {
        border: 5px outset red;
        background-color: lightblue;
        text-align: center;
    }
</style>

<body>
    <div class="form-wrapper">
        <h2 class="title">Please introduce a search term in the box</h1>
            <form action="{{ url_for('search_for_term') }}" , method="POST">
                <fieldset class="form-field">
                    {{ search_form.search_box.label }}
                    {{ search_form.search_box(size=50) }}
                </fieldset>

                {{ search_form.submit }}

            </form>
    </div>

    {% block search_results %}{% endblock%}

</body>

</html>