<!DOCTYPE html>
<html>

<head>
    <title>BCU-Search</title>
</head>

<style>
    .results {
        border: 5px outset red;
        background-color: lightblue;
        text-align: center;
    }
</style>

<body>
    <nav>
        <h1>Please introduce a search term in the box</h1>
        <form action="/search" , method="post">
            <label for="search_box">Search Box</label><br>
            <input type="text" id="search_term" name="search_term">
            <input type="submit" value="Search">
            <input type="submit" value="Clear">
        </form>
    </nav>

    {% block searched_term %}{% endblock %}

    {% block search_results %}{% endblock%}

</body>

</html>