<!DOCTYPE html>
<html>

<head>
    <title>BCU-Search</title>
</head>

<body>
    <nav>
        <h1>Please introduce a single search word in the box</h1>
        <form>
            <label for="search_box">Search Box</label><br>
            <input type="text" id="search_term" name="search_term">
            <input type="submit" value="Search">
            <input type="submit" value="Clear">
        </form>
    </nav>
    <section class="displayed_results">
        <h1> Results for "searched word": </h1> <!-- add block for the actual "searched word" -->
        <!-- Add block for displayed results -->
    </section>

</body>

</html>